.ubicacion{
  background-color: #47126b;
}


@media (max-width: 767.98px) {
  .ubicacion{
    flex-wrap: wrap !important;
    text-align: center;
  }
  .texto-ubicacion{
    padding-left: 0px !important;
  }
  .mapa{
    height: 200px;
    margin: 10px;
 }
}