.carousel-text{
  position: relative;
  z-index: 1;
  display:table;
  width:100%;
  height:100%
}

.centrar-texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.text-carousel{
  background-color: var(--color-principal);
  border-radius: 5%;
  text-decoration-color: var(--color-quinto);
  color: var(--color-quinto);
}