.btn-vermas{
  background-color: #affc41;
}

@media (max-width: 767.98px){
  .modal-body{
    margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  }

.card-servicios{
  -webkit-box-shadow: -10px 4px 22px -12px rgba(0,0,0,0.68); 
box-shadow: -10px 4px 22px -12px rgba(0,0,0,0.68);
  width: 250px;
}