.navbar{
    background-color: #47126b !important;
    height: 70px;
}

.navbar-button{
    width: 45%;
}

.img-navbar{
    width: 100px;
    height: 100px;
}

@media (max-width: 767.98px){
   .navbar-button{
    display: none;
   }
   .img-navbar{
    display: none;
   }
   .navbar{
    height: 100px;
   }
  }
  
@media (min-width: 768px) and (max-width: 991.98px){
    .navbar{
        height: 11vh;
  }
}