.logo-navbar{
    width: 120px;
}

.botones-navbar{
    width: 500px;
}

.navbar{
    background-color: #47126b !important;
    height: 80px;
}

@media (max-width: 767.98px){
    .navbar{
        height: auto;
    }
    .botones-navbar{
        width: 80%;
        padding-bottom: 9px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .navbar{
        height: auto;
    }
    .botones-navbar{
        padding-bottom: 10px;
    }
}