.carousel-text{
  position: relative;
  text-shadow: 0px 2px 16px #000000;
  width: 80%;
}

.centrar-texto{
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%)
}

.text-carousel{
  color: white;
  font-size: 60px;
}

.carousel-inner{
  height: 80vh;
}

.logo-carousel{
  width: 400px;
}

@media (max-width: 767.98px){
  .carousel-inner{
    height: 22vh;
  }
  .text-carousel{
    font-size: 30px;
  }
  .centrar-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .logo-carousel{
    width: 150px !important;
  }  
}

@media (min-width: 768px) and (max-width: 991.98px){
  .carousel-inner{
    height: 35vh;
  }
  .text-carousel{
    font-size: 50px;
  }
  .centrar-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .logo-carousel{
    width: 300px !important;
  }
}