:root{
  --color-principal: #086375;
  --color-segundario: #47126b;
  --color-terciario: #1dd3b0;
  --color-cuarto:  #affc41;
  --color-quinto: #b2ff9e;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #f3ffe4;
}

code {
  font-family: 'Rubik', sans-serif;
}
