:root{
  --color-principal: #086375;
  --color-segundario: #3c1642;
  --color-terciario: #1dd3b0;
  --color-cuarto:  #affc41;
  --color-quinto: #b2ff9e;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: 'Rubik', sans-serif;
}
